.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  /* font-weight: 700;
  font-size: 20px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 10px; */
  background-color: #333;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
}

.logout {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.mainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f0f0f0;
  min-width: 450px;
  min-height: 200px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.userDetails {
  margin-bottom: 10px;
}

.editIcon {
  margin-left: 10px;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  /* width: 100%; */
  padding-inline: 1rem !important;
  box-sizing: border-box;
  /* border-radius: 2rem; */
  transition: 0.5s all;
  border: 0 solid gray;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input:focus {
  outline: 0;
}

button {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
