/* /* * {
  transition: 0.5s;
} */
.signup-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container div {
  display: flex;
  flex-direction: column;
}

.btn-container button {
  /* width: 100%; */

  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer;
  height: 50px;
  width: 100%;
}
.btn-container button:hover {
  background-color: #0056b3;
}
