* {
  transition: 0.5s;
}
.signup-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container div {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-container {
  width: 100%;
  /* border: 10px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container > button {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}
