/* Login.css */

/* * {
  transition: 100ms;
} */

.login-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* border: 1px solid #0056b3; */
}

.login-container div {
  width: 100%;
  display: flex;
}

.login-container div div:first-child {
  flex: 1;
}

.login-container div div {
  font-size: 16px;
}

.login-container div.inputCont {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
}

h2 {
  text-align: center;
}

.login-button {
  /* width: 100%; */

  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer;
  height: 50px;
  width: 100%;
  border-radius: 2rem;
  transition: 0.5s !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login-button:hover {
  background-color: #0056b3;
}

.hide {
  display: none;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-width: 380px;
}

.loginContainer button,
input {
  height: 48px;
  /* font-size: 32px; */
}

input {
  font-size: 16px;
  padding: 0 !important;
  margin: 0 !important;
}

.btn {
  /* background-color: rgb(31, 31, 31) !important; */
  width: 100% !important;
  /* border: 1px solid red !important; */
  /* color: white !important; */
  border-radius: 2rem !important;
  padding: 1rem !important;
  /* margin-bottom: 1rem !important ; */
  transition: 0.5s !important;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}

p {
  padding: 0;
  margin: 0;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* column-gap: 2rem; */
  height: 100vh;
}

.cont > div {
  flex: 1;
  /* border: 10px solid cyan; */
}

.cont > .loginForm {
  /* border: 1px solid red;3 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  row-gap: 2rem;
  height: 100vh;
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */
  box-sizing: border-box;
  /* max-width: 320px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formInput {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.formInput input {
  width: 100%;
  padding-inline: 1rem !important;
  box-sizing: border-box;
  border-radius: 2rem;
  transition: 0.5s all;
  border: 0 solid gray;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loginForm .formInput input:focus {
  border: 1px solid black;
  /* outline: 1px solid red; */
}

.formInput > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.remember {
  display: flex;
  align-items: end;
}

h1 {
  margin: 0;
  align-self: start;
}
